.days {
  overflow-y: scroll;
  height: 85vh;
}

.date-track {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 3.75vw;
  margin-right: 3.55vw;
}

.date-track header {
  display: flex;
  margin: 50px 2.65vw 25px 1.25vw;
}

.date-track header h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 0 0;
  align-items: baseline;
}

.time-status {
  justify-self: flex-end;

  display: flex;
  flex-flow: column nowrap;
}

.track {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2.65vw 7px 1.25vw;
}

.track .divider {
  align-self: stretch;
}

.issue-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.issue-info > :not(:last-child) {
  margin-right: 28px;
}

.issue-time {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.id-issue {
  margin-top: 8px;
  margin-bottom: 10px;
}

.id-issue > * {
  margin: 0;
}

.grey-text {
  color: #bbbbbb;
  font-weight: 500;
  font-size: 18px;
  font-variant: small-caps;
}

.grey-text.large {
  font-weight: bold;
  font-size: 24px;

  margin-bottom: 8px;
  margin-top: 0;
}

.grey-text.small {
  font-size: 12px;
  font-weight: normal;
  font-variant: normal;
  color: #c4cacb;
}

a.icon-button {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  border: none;
  padding: 0;
  background-color: #e9ecf2;
}

.upload {
  color: #3744bd;
  margin-left: 47px;
  margin-top: -4px;
}

a.btn.play {
  color: #828282;
  margin-left: 47px;
  margin-top: -4px;
}

.time-bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 45px 3.55vw 3px 3.75vw;
}

.time-line {
  display: block;
  width: 60.3vw;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 15px 30px rgba(216, 226, 232, 0.12);
}

.hours {
  width: 60.3vw;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  list-style: none;
}
