.date-track {
  display: flex;
  flex-flow: column nowrap;
  /* padding-right: 6.2vw;
  padding-left: 5vw; */
  margin-left: 3.75vw;
  margin-right: 3.55vw;
}

.date-track header {
  display: flex;
  margin-top: 50px;
  margin-right: 2.65vw;
  margin-left: 1.25vw;
  margin: 50px 2.65vw 1.25vw 25px;
}

.date-track header h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 0 0;
  align-items: baseline;
}

.time-status {
  justify-self: flex-end;

  display: flex;
  flex-flow: column nowrap;
}

.time-large {
  font-weight: bold;
  font-size: 24px;
  color: #bbbbbb;
  margin-bottom: 8px;
  margin-top: 0;
}

.time {
}

.upload {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3744bd;
  background-color: #e9ecf2;
  height: 38px;
  width: 38px;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin-left: 47px;
  margin-top: -4px;
}
