main {
  flex: 1 1 67.5%;
  display: flex;
  flex-flow: column nowrap;
  height: 86.7vh;
}

main section {
  display: flex;
}

/* Date picker and preferable selection */

.date-sort {
  display: inline-flex;
  margin-left: 5vw;
  margin-right: 5.55vw;
  justify-content: space-between;
}

a.btn.date-select {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: none;
  border-radius: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;

  padding: 16px 32px;
  background-color: #f0f3f5;
  color: #3744bd;

  height: 58px;
  width: 197px;
  /* max-height: 58px;
  max-width: 197px; */
}

.calendar-icon {
  color: inherit;
  font-size: medium;
  margin-left: auto;
}

main section .sort-list {
  list-style: none;
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 0;
}

.sort-list a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24.5px;
  max-height: 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #bbbbbb;
}

.sort-list a.sort-selected {
  border-radius: 30px;
  background-color: #f0f3f5;
  color: #4f4f4f;
}
